In [10]:
import pandas as pd
import sklearn
import numpy as np

In [3]:
weather_data = pd.read_csv("DownloadedDatasetFromDelhi.csv")

In [4]:
weather_data.columns.values

array(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain',
       ' _snow', ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird',
       ' _wdire', ' _wgustm', ' _windchillm', ' _wspdm'], dtype=object)

In [5]:
weather_data[['datetime_utc',' _tempm',' _rain',' _hum']]

          datetime_utc   _tempm   _rain   _hum
0       19961101-11:00     30.0       0   27.0
1       19961101-12:00     28.0       0   32.0
2       19961101-13:00     24.0       0   44.0
3       19961101-14:00     24.0       0   41.0
4       19961101-16:00     23.0       0   47.0
...                ...      ...     ...    ...
100985  20170424-06:00     34.0       0   25.0
100986  20170424-09:00     38.0       0   16.0
100987  20170424-12:00     36.0       0   14.0
100988  20170424-15:00     32.0       0   27.0
100989  20170424-18:00     30.0       0   30.0

[100990 rows x 4 columns]

In [19]:
np.argmax(weather_data[' _hum'])

95248

In [8]:
min(weather_data[' _hum'])

4.0

In [37]:
weather_data = weather_data.drop(weather_data.index[weather_data[' _hum']>100].tolist()) #Drop wrong data(Humidity>100%)

In [38]:
weather_data.index[weather_data[' _hum']>100]

Int64Index([], dtype='int64')

In [44]:
HnT_data = weather_data[['datetime_utc',' _hum',' _tempm']]

In [45]:
HnT_data.plot.scatter(x='datetime_utc',y=' _hum')
HnT_data.plot.scatter(x='datetime_utc',y=' _tempm')

          datetime_utc   _hum   _tempm
0       19961101-11:00   27.0     30.0
1       19961101-12:00   32.0     28.0
2       19961101-13:00   44.0     24.0
3       19961101-14:00   41.0     24.0
4       19961101-16:00   47.0     23.0
...                ...    ...      ...
100985  20170424-06:00   25.0     34.0
100986  20170424-09:00   16.0     38.0
100987  20170424-12:00   14.0     36.0
100988  20170424-15:00   27.0     32.0
100989  20170424-18:00   30.0     30.0

[100987 rows x 3 columns]